.review_container{
    width: 100%;
    height: fit-content;
    background-color: rgb(154, 233, 213);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .testimonial{
    width: 90%;
    max-width: 800px;
    margin: auto;
  }
  .testimonial h2{
    margin: 5px;
    font-size: 25px;
    font-weight: 550;
    color: #000;
    text-transform: capitalize;
  }
  .testimonial span{
    color: #fff;
  }
  .testimonial-text{
    margin-top: 20px;
    background: #fbfd86;
    color: #222;
    height: 350px;
    position: relative;
    box-shadow: 0 15x 20px rgba(0, 0, 0, 0.2);
  }
  .user-text{
    width: 80%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
  }
  .user-text fas{
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .user-text span{
    display: block;
    font-size: 15px;
    margin-top: 70px;
    font-weight: 500;
    color: #0f0d0d;
    text-transform: uppercase;
  }
  .testimonial_pic{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-pic{
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
  }
  .user-text.active-text{
    display: block;
    animation:  moveup 0.5s linear forwards;
  }
  .user-pic.active-pic{
    width: 70px;
    height: 70px;
    border: 3px solid #000;
  }
  @keyframes moveup {
    0% {
      margin-top: 25px;
    }
    100%{
      margin-top: 0px;
    }
  }
